<div class="container">
  <div *ngIf="errorMessage === '' && xAxis.length != 0 && yAxis.length != 0; else gameNotAvailable">
    <!-- Game level selection and welcome screen -->
    <div class="d-flex justify-content-between mt-2">
      <div>
        <ul class="list-inline">
          <li class="list-inline-item">
            <label for="inputShips">
              <h5>Select Battleship Gaming Level</h5>
            </label>
            <select id="inputShips" class="form-control" ngModel required [ngModel]="selectedShipCounter"
              (ngModelChange)="onChange($event)" name="selectedShipCounter">
              <option value="0" disabled selected="true">Select Level</option>
              <option *ngFor="let number of numberOfShipOptions" [value]="number.Id">
                {{ number.option }}
              </option>
            </select>
          </li>
        </ul>
      </div>
      <div>
        <div class="box h-100 d-flex justify-content-center flex-column">
          <h4>Welcome</h4>
          <h4>
            <small>
              <p>{{ player.firstName }} {{ player.lastName }}</p>
            </small>
          </h4>
        </div>
      </div>
    </div>

    <!-- Gaming board -->
    <div class="container">
      <div class="row" (click)="checkCoordinate($event)" *ngFor="let y of yAxis">
        <div class="col-sm-1 bg-primary text-white border text-center" *ngFor="let x of xAxis" attr.data-x="{{ x }}"
          attr.data-y="{{ y }}">
          <i class="material-icons" style="opacity: 0.2;">waves</i>
          <div class="coordinate" (click)="checkCoordinate($event)">{{ x }} {{ y }}</div>
        </div>
      </div>
    </div>

    <!-- Scoreboard and game management-->
      <div class="d-flex justify-content-between mt-2">
        <div class="flex-fill mr-2 mt-2">
          <app-score-card [scoreCard]="playerScoreCard"></app-score-card>
        </div>
        <div>
          <ul class="list-inline">
            <li class="list-inline-item">
              <button type="submit" id="inputSubmit" class="btn btn-success" [hidden]="!isGameStarted"
                (click)="onSaveGame();">Save Game</button>
            </li>
            <li class="list-inline-item">
              <button type="submit" id="inputCancel" class="btn btn-warning" (click)="onCancelGame();">Cancel
                Game</button>
            </li>
          </ul>
        </div>
      </div>
  </div>
  <!--Game play service is currently not available -->
  <ng-template #gameNotAvailable>Game service currently not available!</ng-template>
</div>