<div class="overflow mt-3">
    <h3>
        Top Ten Players
    </h3>
    <div *ngIf="players; else noTopPlayers">
        <table class="table">
            <thead>
                <th scope="col" class="col-sm-8">Name</th>
                <th scope="col" class="col-sm-2">#</th>
                <th scope="col" class="col-sm-2">%</th>
             </thead> 
             <tbody> 
                <tr *ngFor="let player of players">
                    <td>{{player.fullName}}</td>
                    <td>{{player.completedGames}}</td>
                    <td>{{player.winningPercentage}}%</td>
                </tr>
            </tbody>
        </table>
        <ul class="list-inline">
            <li class="list-inline-item"># = Number of Games</li>
            <li class="list-inline-item">% = Hit Percentage</li>
        </ul>
    </div>
    <ng-template #noTopPlayers>
        <div class="row">
            <h4>No top players at present!</h4>
        </div>
    </ng-template>
</div>