<nav class="navbar navbar-expand-sm bg-dark text-white justify-content-center sticky-top">
  <ul class="navbar-nav">
    <li>
      <img src="../assets/images/battleship.png" height="32px" width="32px" />
    </li>
    <li class="nav-item active">
      <span><a [routerLink]="['/login']" class="nav-link">Login </a></span>
    </li>
    <li class="nav-item">
      <span><a [routerLink]="['/createPlayer']" class="nav-link">Create Account</a></span>
    </li>
    <li class="nav-item">
      <span><a [routerLink]="['/statistics']" class="nav-link">Top Players</a></span>
    </li>
    <li>
      <img src="../assets/images/battleship.png" height="32px" width="32px" />
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="justify-content-center">
    <div class="d-flex flex-row justify-content-center">
      <div class="mr-2"><img src="../assets/images/github.png" height="32px" width="32px" /></div>
      <div><a href="https://github.com/visualsanity/Battleship.Microservices" target="_blank">Battleship Microservices</a></div>
    </div>
  </div>
</footer>